@keyframes reveal {
  0% {
    left: 100%;
    right: 100%;
  }
  100% {
    right: 0;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --bg: #fff;
  --bg-secondary: #f8b261;
  --bg-tertiary: #ebefff;
  --color-primary: #212322;
  --color-secondary: #fff;
  --font-display: "Lexend", sans-serif;
  --font-base: 'Inter', sans-serif;
  --bodycopy-size: 16px;
  --bodycopy-lh: 24px;
  --title--size: 36px;
  --title--lh: 42px;
  --title-m-size: 28px;
  --title-m--lh: 32px;  
  --subtitle-size: 14px;
  --subtitle-lh: 18px;
  --btn-height: 48px;
  --btn-padding: 0 23px;
  --btn-font-size: 14px;
  --btn-font-lh: 24px;
  --header-font-size: 16px;
}

@media screen and (max-width: 767px) {
  :root {
    --header-font-size: 14px;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-display);
}

.header {
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  position: relative;
  font-family: var(--font-base);
  font-size: var(--header-font-size);
}

.header a::after {
  content: '';
  display: inline-block;
  height: 1px;
  bottom: -2px;
  left: 0;
  right: 100%;
  background: var(--color-primary);
  position: absolute;
  transition: right 0.3s ease-in-out;
}

.header a:hover::after {
  right: 24px;
}

.header svg path {
  stroke: var(--color-primary);
}

.reveal-component {
  height: 100vh;
  overflow: hidden;
}

.tag {
  height: 34px;
  padding: 0 10px;
  color: var(--color-primary);
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-lh);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin-bottom: 16px;
  position: relative;
}

.tag span {
  position: relative;
  z-index: 1;
}

.tag::before {
  height: 100%;
  background-color: var(--bg-tertiary);
  position: absolute;
  left: 50%;
  right: 50%;
  content: '';
  display: block;
  animation-delay: 0.8s;
  border-radius: 4px;
}

.reveal-box {
  background-color: var(--bg-secondary);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  /* bottom: 50vh; */
}

.reveal-container {
  display: flex;
  position: relative;
  z-index: 1;
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  margin-top: 15vh;
  height: calc(70vh);
  padding-bottom: 80px;
  border-radius: 4px;
  overflow: hidden;
}

.image {
  overflow: hidden;
  width: 50%;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;
}

.content {
  padding: 100px 60px 80px 60px;
  display: flex;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  background-color: var(--bg);
}

button {
  background-color: var(--bg-secondary);
  color: var(--color-primary);
  border: none;
  height: var(--btn-height);
  padding: var(--btn-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-display);
  border-radius: 4px;
}

.content-reveal {
  opacity: 0;
}

h1, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 400;
  margin-bottom: 16px;
  font-size: var(--title--size);
  line-height: var(--title--lh);
}

p {
  font-weight: 300;
  margin-bottom: 36px;
  line-height: var(--bodycopy-lh);
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: var(--title-m-size);
    line-height: var(--title-m--lh);
  }
}

@media screen and (max-width: 1023px) {
  .reveal-container {
    flex-direction: column;
    height: auto;
    margin-top: 0;
  }

  .reveal-component {
    height: auto;
  }

  .image, img {
    border-radius: 4px;
  }

  .reveal-box {
    height: 30vh;
  }

  .content {
    width: 100%;
    padding: 0;
    order: 2;
    margin-top: 30px;
    background-color: transparent;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 2.5s forwards;
  }

  .image {
    width: 100%;
    height: 45vh;
    margin-top: 10vh;
  }
}